* {
    box-sizing: border-box;
  }
  /* Adjust the content margin to leave space for the sidebar */
.form {
  margin-left: 220px; /* Adjust as needed based on the width of the sidebar */
  padding: 20px; /* Add padding for better spacing */
}

/* Ensure the form is not hidden behind the sidebar */
form {
  background-color: #fff; /* Set a white background to distinguish form from sidebar */
}
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  label { display: block; }
  input { margin: 5px; }
  