* {
  box-sizing: border-box;
}

.form-container {
border: none;
border-radius: 10px;
padding: 45px;
background-color: var(--secondaryColor);
height: auto;
margin-bottom: 4rem;
box-shadow: 0px 0px 10px black;
}
form label{
display: flex;
flex-direction: column;
padding-bottom: 15px;
}

.form-input , .form-description{
border-radius: 10px;
height: 45px;
background-color: var(--selectColor);
padding: 15px;
border: none;
}
.form-description {
height: auto;
}
.createEvents-container{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
height: 100%;
}
.create-title {
height: 8rem;
justify-content: space-around;
align-content: center;
width: auto;
background-color: var(--mainColor);
}
.create-title h3 {
font-weight: 600;
font-size: 40px;
}
.create-display {
display: flex;
flex-direction: column;
width: 70%;
margin-left: auto;
margin-right: auto;
}
.buttons-container {
padding: 10px;
}
.submitButton {
background: var(--mainColor);
color: white;
cursor: pointer;
padding: 12px;
padding-left: 18px;
padding-right: 18px;
border-radius: 0.8rem;
font-size: 1.2rem;
border: none;
outline: none;
margin: 10px;
}
.logout-btn {
  background: white;
  color: black;
  cursor: pointer;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
body {
font-family: sans-serif;
padding: 0;
background-color: var(--mainColor);
}
h1 {
margin-top: 0;
font-size: 22px;
}
h2 {
margin-top: 0;
font-size: 20px;
}
h3 {
margin-top: 0;
font-size: 18px;
}
h4 {
margin-top: 0;
font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}


label { display: block; }

::-webkit-scrollbar {
  display: none;
}
