.section__padding{
    padding: 4rem 4rem;
}
.footer{
    background-color: #FF4040;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.sb__footer{
    display: flex;
    flex-direction: column;
}
.sb__footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}
.sb__footer-links-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: black;
}
.sb__footer-links-div p, a{
    font-size: 20px;
    margin: 0.8rem;
    margin-bottom: 0;
    cursor: pointer;
    color: black;
}
.sb__footer-links-div a{
    font-size: 25px;
}
.sb__footer-below{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sb__footer-copyright{
    font-size: 13px;
    color: white;
    font-weight: 400;
    padding-bottom: 5px;
}

@media screen and (max-width: 850px) {
    .sb__footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb__footer-heading h1{
        font-size: 34;
        line-height: 42px;
    }
    .sb__footer-links div{
        margin: 1rem;
    }
    .sb__footer-btn p{
        font-size: 14px;
    }
}