.home-container {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 0 3rem;
    background-color: white;
    color: var(--textColor);
}
.page-heading {
    font-size: 48px;
    padding-left: 10px;
    margin-top: 50px;

    font-weight: bold;
    font-size: 25px;
}
.welcome-Picture{
    display: flex;
    margin-left: -60%;
    margin-top: 50%;
}
.highFive-Picture{
    display: flex;
    margin-left: 30%;
    margin-top: 25%;
}

