header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 3rem;
    background-color: white;
    color: var(--textColor);
    top: 0;
    position: absolute;
}
nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}
nav a:hover {
    color: var(--secondaryColor);
}
header a {
    text-decoration: none;
    color: black;
    font-size: larger;
}
header .nav-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    font-size: 2rem;
}
.signup-btn{
    background: var(--mainColor);
    color: white;
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
.login-btn{
    background: white;
    color: black;
    cursor: pointer;
    padding: 12px;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
.login label{
    justify-content: center;
    align-items: center;
}
.singup label{
    justify-content: center;
    align-items: center;
}
.submit-login-button{
    width: 50%; 
    background: var(--mainColor);
    font-size: 20px;
    border-radius: 10px;
}
.submit-signup-button{
    width: 50%; 
    background: var(--mainColor);
    font-size: 20px;
    border-radius: 10px;
}
.login form input{
    align-items: center;
    width: 75%;
    height: 2rem;
    border-radius: 10px;
    background-color: #d4cfcf;
    border: none;
}
.signup form input{
    align-items: center;
    width: 75%;
    height: 2rem;
    border-radius: 10px;
    background-color: #d4cfcf;
    border: none;
}
form .submit-login-button{
    display: block;
    margin: auto;
}
form .submit-signup-button{
    display: block;
    margin: auto;
}


@media only screen and (max-width: 550px) {
    header .nav-btn {
        display:flex;
        opacity: 1;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }
    .signup-btn {
        background: none;
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 3rem;
    background-color: white;
    color: var(--textColor);
}
nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}
nav a:hover {
    color: var(--secondaryColor);
}
header a {
    text-decoration: none;
    color: black;
    font-size: larger;
}
header .nav-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    font-size: 2rem;
}
.signup-btn{
    background: var(--mainColor);
    color: white;
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
.login-btn{
    background: white;
    color: black;
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.login h3{
    text-align: center;
    margin: 0 auto 15px;
    font-size: 35px;
    padding-bottom: 5%;
}

.horizontal-line {
    width: 80%; 
    margin: 0 auto 20px; 
    border-bottom: 1px solid #c4bcbc; 
  }

.signup h3{
    text-align: center;
    margin: 0 auto 15px;
    font-size: 35px;
    padding-bottom: 5%;
}

.placeholder{
    text-align: center;
}


@media only screen and (max-width: 550px) {
    header .nav-btn {
        display:flex;
        opacity: 1;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }
    .signup-btn {
        background: none;
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
}